<div class="container">
  <div class="form_crud">
    <mat-icon class="close_btn" mat-icon-button [routerLink]="['/login']">close</mat-icon>

    <div class="form_wrap">
      <div class="form_heading">REGISTER ACCOUNT</div>

      <div class="tier_info_section">
        <div class="form-Group ratio_group">
          <label for="premium" class="label_flex">
            <input type="radio" id="premium" checked />
            <span class="tier_info">Premium</span>
          </label>
          <div class="description">
            Enjoy unlimited question generation with the premium membership!
          </div>
          <div class="price-options">
            <label for="price"
              ><input
                type="radio"
                name="price"
                id="price"
                checked
              />$8.00/month</label
            >
          </div>
          <div class="price-options">
            <label for="price"
              >
              <input
                type="radio"
                name="price"
                id="price"
              />$20.00/quarter</label
            >
          </div>
        </div>
      </div>

      <form #registrationForm="ngForm">
        <div class="flex_form">
          <div class="name-fields-container">
            <div class="form-group custom_group">
              <label for="firstName">First Name</label>
              <input
                matInput
                type="text"
                id="firstName"
                name="firstName"
                [(ngModel)]="registerModel.firstName"
                required
              />
              <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required') && registrationForm.controls['firstName'].touched">
                First Name is required.
              </mat-error>
            </div>

            <div class="form-group custom_group">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                [(ngModel)]="registerModel.lastName"
                required
              />
              <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required') && registrationForm.controls['lastName'].touched">
                Last Name is required.
              </mat-error>
            </div>
          </div>

          <div class="form-group custom_group">
            <div class="name-fields-container1">
            <label for="institutionName">Institution Name</label><br>
            <input
              type="text"
              id="institutionName"
              name="institutionName"
              [(ngModel)]="registerModel.institutionName"
              required
            />
            <mat-error *ngIf="registrationForm.controls['institutionName'].hasError('required') && registrationForm.controls['institutionName'].touched">
              Institution Name is required.
            </mat-error>
          </div>

          <div class="form-group custom_group">
            <div class="name-fields-container2">
            <label for="email">Email Address</label><br>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="registerModel.email"
              required
              email
            />
            <mat-error *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched">
              Email is required.
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['email'].hasError('email') && registrationForm.controls['email'].touched">
              Invalid email format.
            </mat-error>
          </div>

          <div class="form-group custom_group">
            <div class="name-fields-container3">
            <label for="password">Password</label><br>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="registerModel.password"
              required
              minlength="8"
            />
            <mat-error *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched">
              Password is required.
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength') && registrationForm.controls['password'].touched">
              Password must be at least 8 characters long.
            </mat-error>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="form_btns">
          <div class="form_btn_continue">
            <button
              type="submit"
              (click)="onRegistrationSubmit()"
              [ngClass]="{
                'valid-form': registrationForm.valid,
                'invalid-form': !registrationForm.valid
              }"
            >
              Continue to Checkout
            </button>
          </div>
          <div class="form_btn_login">
            <button type="button" (click)="openLoginPopUp()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
