<div class="add-element-container">
  <div class="close-bar">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <div class="heading">
    <p *ngIf="!updateValueMappingIDForSubsystem">Add Attributes</p>
    <p *ngIf="updateValueMappingIDForSubsystem">Update Attributes</p>
  </div>
  <div class="details">
    <p><b>Input : </b>{{ input }}</p>
  </div>
  <div class="select-area">
    <form #myForm="ngForm">
      <label for="subject">Select a subject</label>
      <select
        name="subject"
        [(ngModel)]="attributes.subjectId"
        #subject="ngModel"
        id="subject"
        required
      >
        <option [ngValue]="" disabled selected>Select a subject</option>
        <option *ngFor="let subject of subjectsList" [ngValue]="subject._id">
          {{ subject.subject }}
        </option>
      </select>
      <div
        class="error"
        *ngIf="subject.invalid && (subject.dirty || subject.touched)"
      >
        <div *ngIf="subject.errors?.['required']">Subject is required.</div>
      </div>

      <label for="system">Select a system</label>
      <select
        name="system"
        [(ngModel)]="attributes.system"
        #system="ngModel"
        required
        (change)="onSystemChange()"
      >
        <option [ngValue]="" disabled selected>Select a system</option>

        <option *ngFor="let system of systemList" [ngValue]="system._id">
          {{ system.system }}
        </option>
      </select>
      <div
        class="error"
        *ngIf="system.invalid && (system.dirty || system.touched)"
      >
        <div *ngIf="system.errors?.['required']">System is required.</div>
      </div>

      <label for="sub-system">Select a sub-system</label>
      <select
        name="subsystem"
        [(ngModel)]="attributes.subSystemId"
        #subsystem="ngModel"
        id="sub-system"
        required
      >
        <option [ngValue]="" disabled selected>Select a sub-system</option>
        <option
          *ngFor="let subsystem of subsystemOptions"
          [ngValue]="subsystem._id"
        >
          {{ subsystem.subSystem }}
        </option>
      </select>
      <div
        class="error"
        *ngIf="subsystem.invalid && (subsystem.dirty || subsystem.touched)"
      >
        <div *ngIf="subsystem.errors?.['required']">
          Sub-system is required.
        </div>
      </div>

      <button
        type="submit"
        (click)="submitForm(myForm)"
        [disabled]="myForm.invalid"
        *ngIf="!updateValueMappingIDForSubsystem"
      >
        Submit
      </button>
      <button
        type="submit"
        (click)="submitForm(myForm)"
        [disabled]="myForm.invalid"
        *ngIf="updateValueMappingIDForSubsystem"
      >
        Update
      </button>
    </form>
  </div>
</div>
