<mat-sidenav-container
  style="background-color: #fff"
  class="container-fluid flag_wrap"
>
  <mat-sidenav-content>
    <div class="flag_section">
      <div class="exapnsion_div">
        <img
          src="../../../../assets/images/triangle_blue.png"
          alt="triangle_blue"
          (click)="setHeight = !setHeight"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          src="../../../../assets/images/lab.png"
          alt="lab"
          (click)="openLabValues()"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          style="transform: translateX(2px)"
          src="../../../../assets/images/notes.png"
          alt="notes"
          (click)="showNotepad = !showNotepad"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          src="../../../../assets/images/calculator.png"
          alt="calculator"
          (click)="showCalculator = !showCalculator"
        />
        <div *ngIf="showNotepad" class="notepad" cdkDrag>
          <app-notes (closeNotepad)="closeNotepad($event)"></app-notes>
        </div>
        <div *ngIf="showCalculator" class="calculator" cdkDrag>
          <app-calculator
            (closeCalc)="closeCalculator($event)"
          ></app-calculator>
        </div>
      </div>
    </div>
    <div class="parent_warp">
      <div class="head_timer">
        <div>
          <h4 style="font-weight: 600">Live Exam Room: USMLE Step 1</h4>
          <!-- <p style="color: #999; font-weight: 600">Currently 224 members online</p> -->
        </div>
        <div class="timer_clock">
          <h5 class="p-2">{{ questionTimerUI }}</h5>
        </div>
      </div>
      <div class="row_flex">
        <div
          [ngStyle]="{
            width: sidenav._animationState === 'open' ? '100%' : '49%'
          }"
          class="left_section"
        >
          <div class="question_ans mb-lg-5 mb-md-5 mb-3">
            <div class="question mb-4">
              {{ currentQuestion?.title }}
            </div>
            <ul class="options ms-1" style="max-width: fit-content">
              <li
                class="mb-1"
                *ngFor="let option of currentQuestion?.options; let i = index"
              >
                <label class="pointer_cl mx-1" for="{{ option._id }}">
                  <!-- (click)="selectOptionIndex(i)" -->
                  <input
                    id="{{ option._id }}"
                    [(ngModel)]="selectedOptionId"
                    type="radio"
                    class="square_radio"
                    [value]="option?._id"
                  />{{ generateAlphabetChar(i) }}. {{ option?.text }}</label
                >
              </li>
            </ul>
            <div class="submit_check" *ngIf="!revealAnswer">
              <button
                type="button"
                class="btn btn-warning"
                (click)="RevealAnswer()"
              >
                Submit Answer
              </button>
            </div>
          </div>
        </div>
        <div
          [ngStyle]="{
            width: sidenav._animationState === 'open' ? '100%' : '49%'
          }"
          class="right_section"
        >
          <div *ngIf="revealAnswer">
            <p>
              <strong>Correct Answer:</strong> {{ correctOptionAlphaLetter }}.
              {{ correctOption?.text }}
            </p>

            <p>
              <strong>Explanation:</strong> {{ correctOption?.explanation }}
            </p>
            <div class="nxt_check">
              <button
                type="button"
                class="btn btn-warning mb-5"
                (click)="changeQuestion()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_timer">
        <button
          type="button"
          class="btn btn-warning"
          (click)="endLiveExamRoom()"
        >
          End
        </button>
        <div class="timer_stop">Time Elapsed {{ displayTimer }}</div>
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" position="end"
    ><app-lab-values (closeLabValue)="closeLabValue($event)"></app-lab-values
  ></mat-sidenav>
</mat-sidenav-container>
