<div class="main">
  <div class="data">
    <div class="heading">
      <h2 *ngIf="items === null">Add Institution</h2>
      <h2 *ngIf="items !== null">Update Institution</h2>
      <mat-icon class="close_btn" mat-icon-button (click)="closeDialog()"
        >close</mat-icon
      >
    </div>
    <div class="forms">
      <form #instituteForm="ngForm">
        <label for="name">Institute Name</label>
        <input
          type="text"
          placeholder="Name"
          name="name"
          [(ngModel)]="institutionModel.name"
          required
        />
        <div
          *ngIf="instituteForm.controls['name']?.errors?.['required'] && instituteForm.controls['name']?.touched"
          class="error-message"
        >
          Name is required.
        </div>
        <label for="email">Email</label>
        <input
          type="text"
          placeholder="Email"
          name="email"
          [(ngModel)]="institutionModel.email"
          required
          email
        />
        <div
          *ngIf="instituteForm.controls['email']?.errors?.['required'] && instituteForm.controls['email']?.touched"
          class="error-message"
        >
          Email is required.
        </div>
        <div
          *ngIf="instituteForm.controls['email']?.errors?.['email'] && instituteForm.controls['email']?.touched"
          class="error-message"
        >
          Invalid email format.
        </div>

        <button
          type="submit"
          (click)="onInstituteSubmit()"
          *ngIf="!visibleUpdate"
          [disabled]="instituteForm.invalid"
        >
          Submit
        </button>
        <button
          type="submit"
          *ngIf="visibleUpdate"
          [disabled]="instituteForm.invalid"
          (click)="updateInstitute()"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</div>
