<div class="main">
  <div class="data">
    <div class="heading">
      <h4>INSTITUTION</h4>
    </div>
    <div class="forms">
      <form #instituteForm="ngForm">
        <input
          type="text"
          placeholder="Name"
          name="name"
          [(ngModel)]="institutionModel.name"
          required
        />
        <div
          *ngIf="instituteForm.controls['name']?.errors?.['required'] && instituteForm.controls['name']?.touched"
          class="error-message"
        >
          Name is required.
        </div>


        <input
          type="text"
          placeholder="Email"
          name="email"
          [(ngModel)]="institutionModel.email"
          required
          email
        />
        <div
          *ngIf="instituteForm.controls['email']?.errors?.['required'] && instituteForm.controls['email']?.touched"
          class="error-message"
        >
          Email is required.
        </div>
        <div
          *ngIf="instituteForm.controls['email']?.errors?.['email'] && instituteForm.controls['email']?.touched"
          class="error-message"
        >
          Invalid email format.
        </div>
        

        <button
          type="submit"
          (click)="onInstituteSubmit()"
          *ngIf="!visibleUpdate"
        >
          Submit
        </button>
        <button type="submit" *ngIf="visibleUpdate" (click)="updateInstitute()">
          Update
        </button>
      </form>
    </div>
  </div>
</div>
