.exam-container {
  width: 100%;
  height: 85vh;
  // border: 1px solid red;
  #exam-code{
    width: auto;
    // border: 1px solid black;
    text-align: center;
  }
  .controls {
    width: 100%;
    height: auto;
    // border: 1px solid yellow;
    display: flex;
    .button {
      width: auto;
      height: auto;
      // border: 1px solid pink;
      p {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #000;
        background-color: var(--qgen-logo-yellow);
        margin-left: 10px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
      }
      .selected{
        color: #fff;
        border: 1px solid #000;
      }
    }

  }
  .main{
    width: 100%;
    height: 65vh;
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;
    .questions{
      width: 45%;
      height: 65vh;
      // border: 1px solid black;
      overflow: auto;
      .questions-main{
        height: auto;
        width: 100%;
        padding: 15px;
        .options{
          width: 100%;
          height: auto;
          // border: 1px solid yellow;
        }
      }
    }
    .explanations{
      width: 45%;
      height: 65vh;
      // border: 1px solid blue;
      overflow: auto;
      padding: 15px;

      .explanations-main{
        height: auto;
        width: 100%;
        #correct-news{
          // border: 1px solid red;
          display: flex;
          p{
            margin-left: 10px;
            color: green;
            font-weight: 500;
          }
          mat-icon{
            color: green;
            font-weight: 500;
          }
        }
        #incorrect-news{
          // border: 1px solid red;
          display: flex;
          p{
            margin-left: 10px;
            color: red;
            font-weight: 500;
          }
          mat-icon{
            color: red;
            font-weight: 500;
          }
        }
        .explanation-paragraph{
          width: auto;
          height: auto;
        }
        #explanation-panel{
          margin-top: 20px;
        }


      }
    }
    .flag{
      width: 10%;
      height: auto;
      // border: 1px solid purple;
      .content{
        width: auto;
        height: auto;
        // border: 1px solid red;
      }
    }
    .flag_section {
      position: absolute;
      top: 1.25rem;
      right: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 10%;
      label {
        font-weight: 500;
      }
      .exapnsion_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #ddd;
        gap: 1rem;
        border-radius: 1rem;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .main{
      flex-direction: column !important;
      .questions{
        width: 100% !important;
      }
      .explanations{
        width: 100% !important;
        margin-top: 20px !important;
      }
      .flag{
        width: auto !important;
        margin-top: 20px !important;
        .content{
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  .bottom-controls{
    width: 100%;
    height: 12vh;
    // border: 1px solid pink;
    .bottom-main{
      width: 100%;
      height: 12vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      button{
        color: #000;
        background-color: var(--qgen-logo-yellow);
      }
    }
  }
  // @media (max-width: 767px){
  //   .bottom-controls{
  //     .bottom-main{
  //       flex-direction: column !important;
  //       justify-content: center !important;
  //     }
  //   }
  // }
}

.flag_icon {
  position: relative;
}
.flag_icon::after {
  content: "🚩";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8px;
}



::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background-color: transparent !important;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled
  ~ .mdc-checkbox__background
  .mdc-checkbox__checkmark {
  color: #000000 !important;
  width: 15px;
  height: 15px;
  margin: auto auto;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: transparent !important;
  background-color: #000 !important;
}
