<div class="exam-container">
  <div class="controls">
    <div class="button" *ngFor="let item of questions; let i = index">
      <p (click)="changeQuestions(i)">{{ i + 1 }}</p>
    </div>
  </div>
  <div class="main">
    <div class="questions" #scrollQuestionContainer>
      <div class="questions-main">
        <p>
          {{ indexBasedQuestions?.title }}
        </p>
        <div class="options">
          <mat-radio-group (change)="optionSelected($event)">
            <mat-radio-button
              *ngFor="let option of indexBasedQuestions?.options"
              [value]="option?.text"
            >
              {{ option?.text }} </mat-radio-button
            ><br />
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="explanations" #scrollExplanationContainer>
      <div class="explanations-main" *ngIf="showExplanations">
        <div *ngFor="let option of indexBasedQuestions?.options">
          <p *ngIf="option.correctAnswer === 'true'">
            <b>Correct Answer : </b> {{ option?.text }}
          </p>
        </div>
        <div
          class="explanation-paragraph"
          *ngFor="let option of indexBasedQuestions?.options"
        >
          <p *ngIf="option.correctAnswer === 'true'">
            <b>Explanation : </b> {{ option?.explanation }}
          </p>
        </div>
      </div>
    </div>
    <div class="flag">
      <mat-expansion-panel>
        <mat-expansion-panel-header> </mat-expansion-panel-header>
        <div class="content">
          <mat-icon svgIcon="custom-icon"></mat-icon>
          <mat-icon>exposure</mat-icon>
          <div class="flag" (click)="openNotepadEditor()">
            <mat-icon>assignment</mat-icon>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
