.saved-container {
  width: 100%;
  height: 85vh;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    width: 95%;
    height: 85vh;
    // border: 1px solid yellow;
  }
  .table-container {
    width: 100%;
    height: 40vh;
    // border: 1px solid blue;
    h6 {
      font-weight: bold;
    }
    .table-area {
      width: 100%;
      max-height: 35vh !important;
      overflow-y: auto;
      .exam-table {
        width: 100%;
        th {
          color: lightblue;
        }
        #table-data{
          overflow: auto;
        }
      }

      .exam-table th,
      .exam-table td {
        border-bottom: 1px solid lightblue;
        padding: 8px;
        text-align: center;
      }
    }
  }
  .room-history {
    width: 100%;
    height: 40vh;
    padding: 20px;

    .history-area {
      width: 100%;
      height: auto;
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow-icon {
        width: auto;
        height: 32vh;
        // border: 1px solid rgb(21, 24, 21);
        display: grid;
        place-items: center;
        cursor: pointer;
        mat-icon {
          width: auto;
          height: auto;
          font-size: 72px;
          // border: 1px solid red;
          justify-content: center;
        }
      }
      .history {
        width: 85%;
        height: auto;
        overflow: hidden;
        // border: 1px solid red;
        // .slider {
        //   display: flex;
        //   transition: transform 0.3s;
        // }
        // .slide {
        //   height: 30vh;
        //   width: auto;
        //   min-width: 230px ;
        //   margin-right: 20px;
        //   background: #84d6fe;
        //   padding: 20px;
        //   border-radius: 20px;
        //   .help-icon {
        //     width: 25%;
        //     height: 7vh;
        //     background-color: #fff;
        //     border-radius: 15px;
        //     display: grid;
        //     place-items: center;
        //     mat-icon {
        //       color: #f8ba07;
        //     }
        //   }
        //   .content {
        //     width: 100%;
        //     height: 10vh;
        //     // border: 2px solid red;
        //     h6 {
        //       font-size: 14px;
        //       margin-top: 5px;
        //       color: #fff;
        //       font-weight: bold;
        //     }
        //     p {
        //       color: #fff;
        //       font-size: 12px;
        //     }
        //   }
        //   .button {
        //     width: 100%;
        //     height: 7vh;
        //     // border: 1px solid red;
        //     button {
        //       width: 100%;
        //       height: 7vh;
        //       background-color: #fff;
        //       color: darkblue;
        //       border: none;
        //       border-radius: 10px;
        //       font-weight: bold;
        //     }
        //   }
        // }
        // ngb-carousel {
        //   background-color: transparent;
        //   .slide-row {
        //     display: flex;
        //     justify-content: space-around;
        //     padding: 10px;
        //     .slide {
        //       // border: 1px solid red;
        //       margin-right: 10px;
        //       width: 25%;
        //       height: 25vh;
        //       border-radius: 20px;
        //       padding: 10px;
        //       background-color: lightblue;
        //       .help-icon {
        //         width: 20%;
        //         height: 5vh;
        //         background-color: #fff;
        //         border-radius: 10px;
        //         display: grid;
        //         place-items: center;
        //         mat-icon {
        //           color: orange;
        //         }
        //       }
        //       .content {
        //         margin-top: 10px;
        //         h6 {
        //           font-size: 16px;
        //           color: #fff;
        //           font-weight: bold;
        //         }
        //         p {
        //           font-size: 12px;
        //           color: #fff;
        //         }
        //       }
        //       .button {
        //         width: 100%;
        //         height: 5vh;
        //         button {
        //           width: 100%;
        //           height: 5vh;
        //           background-color: #fff;
        //           border: none;
        //           border-radius: 5px;
        //           font-weight: bold;
        //           color: darkblue;
        //         }
        //       }
        //     }
        //   }
        //   .custom-icon {
        //     color: red;
        //     font-size: 24px;
        //   }
        // }
        .slide-content{

          margin-left: 10px;
          padding: 20px;
          background-color: #84D6FE;
          height: auto;
          border-radius: 20px;
          .icon-area{
            width: auto;
            height: 5vh;
            // border: 1px solid black;
            p{
              background-color: #fff;
              width: 15%;
              height: 5vh;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              mat-icon{
                color: #FFC400;
              }
            }
          }
          .text-area{
            width: 100%;
            height: auto;
            // border: 1px solid orange;
            margin-top: 10px;
            color: #fff;
            h6{
              font-weight: bold;
            }
          }
          .controls{
            width: 100%;
            height: auto;
            // border: 1px solid cadetblue;
            button{
              width: 100%;
              background-color: #fff;
              color: blue;
              border-radius: 10px;
            }
          }

        }
      }
    }
  }
}
@media (max-width: 767px) {
  .saved-container {
    /* Add your mobile-specific styles here */

    .history {
      width: 100% !important;
      ngb-carousel {
        .slide {
          width: 35% !important;
          height: 27vh !important;
          .help-icon {
            width: 55% !important;
          }
        }
      }
    }
  }
}
