<div class="saved-container">
  <div class="main">
    <div class="table-container">
      <h6>Past exams</h6>
      <div class="table-area" #scrollContainer>
        <table class="exam-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Mode</th>
              <th>Question</th>
              <!-- <th>Subject</th>
              <th>System</th> -->
              <th>Score</th>
              <th>Time</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of examArray" id="table-data">
              <td>{{ exam?.createdAt | date : "MM/dd/yyyy" }}</td>
              <td>{{ exam?.mode }}</td>
              <td>
                <span *ngIf="exam?.correctQuestions"
                  >{{ exam?.correctQuestions }} /
                  {{ exam?.questionIds?.length }}</span
                ><span *ngIf="!exam?.correctQuestions"
                  >{{
                    (
                      (exam?.percentage * exam?.questionIds?.length) /
                      100
                    ).toFixed()
                  }}
                  / {{ exam?.questionIds?.length }}</span
                >
              </td>
              <!-- <td>{{ exam?.subjectId?.subject || "-" }}</td>
              <td>{{ exam.systemId.system || "ALL" }}</td> -->
              <td>{{ exam?.percentage || "-" }}</td>
              <td>{{ exam?.time | timeformat }}</td>
              <td>
                <mat-icon (click)="getQuestions(exam)">visibility</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
    <div class="room-history">
      <h6>Exam Room History</h6>
      <div class="history-area" #scrollContainerTable>
        <!-- your-component.component.html -->

        <mat-table [dataSource]="dataSource">
          <!-- Created By Column -->
          <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef style="flex: 0.3">
              Total Questions
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              [matTooltip]="element.hostMail"
              style="flex: 0.3"
            >
              {{ element.questionIds.length }}
            </mat-cell>
          </ng-container>

          <!-- Room Code Column -->
          <ng-container matColumnDef="roomCode">
            <mat-header-cell *matHeaderCellDef style="flex: 0.4">
              Room Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="flex: 0.4">
              {{ element.roomCode }}
            </mat-cell>
          </ng-container>

          <!-- No. of People Column -->
          <ng-container matColumnDef="noOfPeople">
            <mat-header-cell *matHeaderCellDef style="flex: 0.5">
              No. of People
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="flex: 0.5">
              {{ element.emails.length }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="activeEmails">
            <mat-header-cell *matHeaderCellDef style="flex: 0.6">
              Attended
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="flex: 0.6">
              <div *ngFor="let email of element.emails">
                <span
                  *ngIf="email.isActive"
                  [matTooltip]="email.email"
                  id="attended-emails"
                  >{{ email.email | initials }} </span
                >&nbsp;&nbsp;&nbsp;
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="inactiveEmails">
            <mat-header-cell *matHeaderCellDef style="flex: 0.6">
              Not Attended
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="flex: 0.6">
              <div *ngFor="let email of element.emails">
                <span
                  *ngIf="!email.isActive"
                  [matTooltip]="email.email"
                  id="non-attended-emails"
                  >{{ email.email | initials }} </span
                >&nbsp;&nbsp;&nbsp;
              </div>
            </mat-cell>
          </ng-container>
          <!-- Column definitions -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
