<div class="saved-container">
  <div class="main">
    <div class="table-container">
      <h6>Past exams</h6>
      <div class="table-area" #scrollContainer>
        <table class="exam-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Mode</th>
              <th>Question</th>
              <!-- <th>Subject</th>
              <th>System</th> -->
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of examArray" id="table-data">
              <td>{{ exam?.createdAt | date : "MM/dd/yyyy" }}</td>
              <td>{{ exam?.mode }}</td>
              <td>{{ exam?.questionIds?.length }}</td>
              <!-- <td>{{ exam?.subjectId?.subject || "-" }}</td>
              <td>{{ exam.systemId.system || "ALL" }}</td> -->
              <td>{{ exam?.percentage || "-" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
    <div class="room-history">
      <h6>Exam Room History</h6>
      <div class="history-area">
        <div class="arrow-icon">
          <!-- <mat-icon (click)="prevSlide()">keyboard_arrow_left</mat-icon> -->
        </div>
        <div class="history">
          <p-carousel
            [value]="slides"
            [numVisible]="numVisibleSlides"
            [numScroll]="1"
            [circular]="true"
          >
            <ng-template let-slide pTemplate="body">
              <div class="slide-content">
                <div class="icon-area">
                  <p><mat-icon>help</mat-icon></p>
                </div>
                <div class="text-area">
                  <h6>{{ slide?.title }}</h6>
                  <p>{{ slide?.content }}</p>
                </div>
                <div class="controls">
                  <button mat-button (click)="getQuestions(slide)">View</button>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="arrow-icon">
          <!-- <mat-icon (click)="nextSlide()">keyboard_arrow_right</mat-icon> -->
        </div>
      </div>
    </div>
  </div>
</div>

