.saved-container {
  width: 100%;
  height: 85vh;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    width: 95%;
    height: 85vh;
    // border: 1px solid yellow;
  }
  .table-container {
    width: 100%;
    height: 40vh;
    // border: 1px solid blue;
    h6 {
      font-weight: bold;
    }
    .table-area {
      width: 100%;
      max-height: 35vh !important;
      overflow-y: auto;
      .exam-table {
        width: 100%;
        th {
          color: lightblue;
        }
        #table-data{
          overflow: auto;
        }
      }

      .exam-table th,
      .exam-table td {
        border-bottom: 1px solid lightblue;
        padding: 8px;
        text-align: center;
      }
      mat-icon{
        color: #FFC400;
      }
    }

  }
  .room-history {
    width: 100%;
    height: 40vh;
    padding: 20px;

    .history-area {
      width: 100%;
      height: auto;
      // border: 1px solid red;

      max-height: 35vh !important;
      overflow-y: auto;
      mat-table{
        min-width: 100% !important;
        // border:  1px solid blueviolet;

        mat-header-cell{
          color: lightblue;
          font-weight: 600;
          border-bottom: 1px solid lightblue;
        }
        mat-cell{
          border-bottom: 1px solid lightblue;
        }
        mat-icon{
          color: #FFC400;
        }
        #attended-emails{
          color: #fff;
          font-weight: 600;
          width: 35px;
          height: 30px;
          background-color: rgba(0, 0, 255, 0.555);
          padding: 6px;
          border-radius: 50%;
        }
        #non-attended-emails{
          color: #fff;
          font-weight: 600;
          width: 35px;
          height: 30px;
          background-color: skyblue;
          padding: 6px;
          border-radius: 50%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .saved-container {
    /* Add your mobile-specific styles here */

    .history {
      width: 100% !important;
      ngb-carousel {
        .slide {
          width: 35% !important;
          height: 27vh !important;
          .help-icon {
            width: 55% !important;
          }
        }
      }
    }
  }
}
