<div class="subscription-container">
  <div class="main">
    <div class="data-area">
      <div class="data">
        <div class="control">
          <div class="button">
            <input placeholder="Search here" (keyup)="applyFilter($event)" />
            <!-- <button mat-raised-button (click)="addData()">Add Data</button> -->
          </div>
        </div>
        <div class="table">
          <table mat-table [dataSource]="dataSource" matSort matPaginator>
            <ng-container matColumnDef="instituteName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                INSTITUTE NAME
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.institutionId.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="instituteId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>PACKAGE</th>
              <td mat-cell *matCellDef="let row">
                $ {{ row.packageId.amount }}/{{ row.packageId.packageName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="packageType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                START DATE
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.startDate | date : "YYYY-MM-dd " }}
              </td>
            </ng-container>

            <ng-container matColumnDef="packageTypeId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                END DATE
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.endDate | date : "YYYY-MM-dd" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns; let even = even"
              [class.odd-row]="!even"
              [class.even-row]="even"
            ></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
