:root {
  // Home module

  // button
  --btn-color: #67cbe4;
  --btn-hover: #7bf3ff;

  // colors
  --blue1-color: #0ec4f1;
  --blue2-color: #26c9ff;
  --blue3-faq: #70dcf7;
  --gold-color: #ebbe30;
  --bg-gray-color: #e8eaec;
  --bg-about: rgb(3, 39, 48);
  --bg-enterprise: rgb(68, 84, 141);
  --text1-color: #222;
  --text2-color: #50555c;

  // form
  --login-btn-color: #1bb0e6;
  --login-btn-hover: #1ec5ff;
  --text-color: #a9aeb2;
  --reg-btn-color: #93b719;
  --reg-btn-hover: #a5cd1c;

  // Qgen
  --qgen-bg-color: #f8fafe;
  --qgen-yellow-color: #fcbf02;

  // Qgen logo color
  --qgen-logo-yellow: #fbbf02;
  --qgen-logo-blue: #46b3eb;
}
