<div class="landing-page-container">
  <div class="heading">
    <h2>Your private room</h2>
    <h5>A123RY6</h5>
  </div>
  <div class="user-list">
    <div class="main">
      <div class="attended-user">
        <h5>Attended people</h5>
        <div class="people">
          <div id="list">
            <p>S</p>
          </div>
          <div id="list">
            <p>H</p>
          </div>
          <div id="list">
            <p>A</p>
          </div>
          <div id="list">
            <p>M</p>
          </div>
          <div id="list">
            <p>B</p>
          </div>
          <div id="list">
            <p>B</p>
          </div>
        </div>
      </div>
      <div class="non-attended-user">
        <h5>Non Attended people</h5>
        <div class="people">
          <div id="list">
            <p>S</p>
          </div>
          <div id="list">
            <p>H</p>
          </div>
          <div id="list">
            <p>A</p>
          </div>
          <div id="list">
            <p>M</p>
          </div>
          <div id="list">
            <p>B</p>
          </div>
          <div id="list">
            <p>B</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <button mat-raised-button color="primary">Start Exam</button>
  </div>
</div>
