<div class="p-3">
  <div class="cardp-3">
    <h1 class="">{{ data !== null ? "Edit Role" : "Add Role" }}</h1>
    <form
      [formGroup]="RoleForm"
      (ngSubmit)="data !== null ? editRole() : submitRoleForm()"
    >
      <div class="form-group mt-4">
        <label for="role">Role</label>
        <input
          type="text"
          id="role"
          class="form-control"
          formControlName="role"
        />
        <div class="error">
          <mat-error
            *ngIf="
              RoleForm.controls['role'].hasError('required') && RoleForm.touched
            "
            >Reqiured</mat-error
          >
        </div>
      </div>
      <button
        type="submit"
        [disabled]="RoleForm.invalid"
        class="btn btn-primary mt-4"
      >
        {{ data !== null ? "Edit Role" : "Add Role" }}
      </button>
    </form>
  </div>
</div>
