<div class="p-3">
  <div class="cardp-3">
    <h1 mat-dialog-title *ngIf="data === null">Add Role</h1>
    <h1 mat-dialog-title *ngIf="data !== null">Edit Role</h1>
    <form #formControl="ngForm" [formGroup]="RoleForm">
      <div mat-dialog-content>
        <div class="form-group">
          <label for="role">Role</label>
          <input
            type="text"
            id="role"
            class="form-control"
            formControlName="role"
            [(ngModel)]="roles.role"
          />
          <div class="error">
            <mat-error
              *ngIf="
                RoleForm.controls['role'].hasError('required') &&
                RoleForm.touched
              "
              >Role is reqiured</mat-error
            >
          </div>
        </div>

        <div mat-dialog-actions align="end">
          <button
            [disabled]="RoleForm.invalid"
            class="btn btn-primary"
            *ngIf="data === null"
            (click)="saveRole()"
          >
            Add Role
          </button>
          <button
            [disabled]="RoleForm.invalid"
            class="btn btn-primary"
            *ngIf="data !== null"
            (click)="editRole()"
          >
            Edit Role
          </button>
          <button class="btn btn-danger ms-2" (click)="onNoClick()">Close  </button>
        </div>
      </div>
    </form>
  </div>
</div>
