
<div class="package-container">
  <div class="h2 mb-5 ps-2">Package Master</div>
  <div class="main">
    <div class="search_and_add">
      <div class="search_box">
        <div class="search_field">
          <input
            class="form-control"
            (keyup)="applyFilter($event)"
            placeholder="Search Here"
            #input
          />
        </div>
      </div>
      <div class="add_btn">
        <button mat-raised-button (click)="openAddPackagePopup()">Add Data</button>
      </div>
    </div>

    <div class="data-area">
      <div class="data">
        <div class="table">
          <mat-table [dataSource]="dataSource" matSort matPaginator class="mat-elevation-z8">
            <!-- Questions Count Column -->
            <ng-container matColumnDef="packageName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>NAME</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.packageName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="questionsCount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>QUESTIONS COUNT</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.questionsCount }}</mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.amount }}</mat-cell>
            </ng-container>

            <!-- Rate Column -->
            <ng-container matColumnDef="rate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RATE</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.rate }}</mat-cell>
            </ng-container>

            <!-- Duration Type Column -->
            <ng-container matColumnDef="durationType">
              <mat-header-cell *matHeaderCellDef mat-sort-header>DURATION</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.durationType }}</mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>ACTION</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon (click)="editPackage(element)">edit</mat-icon>
                <mat-icon (click)="deletePackage(element)">delete</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- Define the displayed columns -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [pageIndex]="0"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
