<div class="package-container">
  <div class="main">
    <div class="heading">
      <h4>PACKAGE</h4>
    </div>
    <div class="forms">
      <form>
        <input type="text" placeholder="Name" required />
        <input type="number" placeholder="Questions Count" min="0" required />
        <input type="text" placeholder="Amount" required  />
        <input type="text" placeholder="Rate" required />
        <input type="text" placeholder="Type" required />
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
