<div class="container-fluid vf_c">
  <div class="container">
    <div class="py-5">
      <div class="logo_section">
        <img
          src="../../../../assets/images/Eminence_logo.png"
          alt="Eminence_logo"
          height="60"
          width="60"
        />
        <h1>Eminence</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="img-c">
          <img
            src="../../../../assets//images/email.png"
            alt="eamil"
            width="64"
            height="64"
          />
        </div>
        <h2 class="text-center mt-3">Please verify your account</h2>
        <p class="card-text text-center">
          Thank you for joining the Eminence community! We're excited to have
          you with us.
          <br/> Please click the button below to verify your account.
        </p>
        <div class="text-center">
          <button class="btn bt-c" onclick="getVerify()">Verify Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
