<table>
  <thead>
    <tr>
      <th>URINE</th>
      <th>Reference Range</th>
      <th>SI Reference Intervals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Calcium</td>
      <td>100–300 mg/24 h</td>
      <td>2.5–7.5 mmol/24 h</td>
    </tr>
    <tr>
      <td>Osmolality</td>
      <td>50–1200 mOsmol/kg H<sub>2</sub>O</td>
      <td>50–1200 mOsmol/kg H<sub>2</sub>O</td>
    </tr>
    <tr>
      <td>Oxalate</td>
      <td>8–40 μg/mL</td>
      <td>90–445 μmol/L</td>
    </tr>
    <tr>
      <td>Proteins, total</td>
      <td><150 mg/24 h</td>
      <td><0.15 g/24 h</td>
    </tr>

    <!-- BODY MASS INDEX (BMI)  -->
    <tr>
      <td><strong>BODY MASS INDEX (BMI)</strong></td>
      <td>Adult: 19–25 kg/m<sup>2</sup></td>
      <td></td>
    </tr>
  </tbody>
</table>
