<div class="view_info">
  <mat-icon class="close_btn" mat-icon-button (click)="onNoClick()"
    >close</mat-icon
  >
  <div class="view_card">
    <div class="view_card_header">View Institution</div>
    <div class="veiw_card_body">
      <div class="flex_group">
        <div class="col_group">
          <div class="info-label">Institution Name</div>
          <div class="info-text">{{ data.institutionName }}</div>
        </div>
        <div class="col_group">
          <div class="info-label">Address</div>
          <div class="info-text">{{ data.address }}</div>
        </div>
      </div>
      <div class="flex_group">
        <div class="col_group">
          <div class="info-label">City</div>
          <div class="info-text">{{ data.city }}</div>
        </div>
        <div class="col_group">
          <div class="info-label">State</div>
          <div class="info-text">{{ data.state }}</div>
        </div>
      </div>
      <div class="flex_group">
        <div class="col_group">
          <div class="info-label">Zip</div>
          <div class="info-text">{{ data.zip }}</div>
        </div>
        <div class="col_group">
          <div class="info-label">Country</div>
          <div class="info-text">{{ data.country }}</div>
        </div>
      </div>
      <div class="flex_group">
        <div class="col_group">
          <div class="info-label">Email</div>
          <div class="info-text">{{ data.email }}</div>
        </div>
        <div class="col_group">
          <div class="info-label">Phone Number</div>
          <div class="info-text">{{ data.phoneNo }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
