<div class="about_us_container">
  <div class="about_us_main">
    <div class="container">
      <div class="banner1">
        <div class="banner_img">
          <img
            src="https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/12009105/956043_434590.png">
        </div>
        <div class="banner_content">
          <div class="head_content">
            <strong style="color: var(--blue1-color)">Empowering</strong>&nbsp;
            <strong>Learners,</strong>&nbsp;
            <strong style="color: var(--gold-color)">Transforming</strong>&nbsp;
            <strong>Education</strong>
          </div>
          <div class="para_content">
            <p>We're on a mission to revolutionize learning and democratize access to high-quality education.</p>
            <p>We are creating an accessible, affordable platform where everyone, regardless of background, can excel in
              their
              high-stakes exams while being a part of a supportive community.</p>
            <br>
          </div>
        </div>
      </div>
      <div class="section_separator">
        <div class="separator"></div>
      </div>
      <div class="comitment">
        <strong class="comitment_head" style="color:var(--gold-color)">Our Commitment:</strong>
        <p>We're committed to addressing one of the most pressing issues in education today - <span
            style="color: var(--blue1-color)">student and physician burnout</span>.</p>
        <p>By providing an affordable and collaborative platform, we're promoting a healthier, more sustainable way to
          study. Our
          live lobbies offer students the chance to connect, collaborate, and challenge each other, all while having the
          option to
          mute distractions when focus is needed.</p>
      </div>
      <div class="comitment">
        <strong class="comitment_head" style="color:var(--blue1-color)">Value Proposition:</strong>
        <p>EminenceAI isn’t just a study tool; it's an AI-driven, <span
            style="color:var(--blue1-color)">learner-centric</span> platform that champions <span
            style="color:var(--gold-color)">collaboration</span> and <span
            style="color:var(--gold-color)">affordability</span>.</p>
        <p>By cutting traditional overheads, we provide limitless personalized question generation, empowering you to
          transition
          from passive content consumer to active learner.</p>
      </div>
      <div class="comitment" style="padding-bottom: 75px">
        <strong class="comitment_head" style="color: #fff">Guided by Expert Insights:</strong>
        <p>EminenceAI is privileged to receive invaluable insights and guidance from distinguished academia. Our
          direction is
          shaped, in part, by mentorship from leaders in healthcare at institutions such as Stanford University, Kaiser
          Permanente, and Albany Medical Center. Experience the impact of this unique confluence of tech innovation and
          academic
          excellence.</p>
        <p><strong>We're advancing the educational landscape, one QGen question at a time.</strong></p>
      </div>
    </div>
  </div>
  <div class="about_us_form">
    <app-contact-us-about-us></app-contact-us-about-us>
  </div>
</div>