<div class="form_crud">
  <mat-icon class="close_btn" mat-icon-button (click)="onNoClick()"
    >close</mat-icon
  >
  <div class="form_wrap">
    <div class="form_heading" *ngIf="data === null">Add Subsystem</div>
    <div class="form_heading" *ngIf="data !== null">Edit Subsystem</div>
    <form [formGroup]="subSystemForm">
      <div class="form-group custom_group">
        <label for="systemId">System</label>
        <select
          id="systemId"
          class="form-select"
          aria-label="Default select example"
          name="systemId"
          formControlName="systemId"
          [(ngModel)]="subSystemObject.systemId"
        >
          <option disabled selected value="">select system</option>
          <option *ngFor="let system of systems" [value]="system?._id">
            {{ system?.system }}
          </option>
        </select>
        <div class="error">
          <mat-error
            *ngIf="
              subSystemForm.controls['systemId'].hasError('required') &&
              subSystemForm.controls['systemId'].touched
            "
            >System is required</mat-error
          >
        </div>
      </div>
      <div class="form-group custom_group">
        <label for="subSystem">Subsystem</label>
        <input
          type="text"
          id="subSystem"
          class="form-control"
          formControlName="subSystem"
          placeholder="{{ data !== null ? 'Edit Subsystem' : 'Add Subsystem' }}"
          [(ngModel)]="subSystemObject.subSystem"
        />
        <div class="error">
          <mat-error
            *ngIf="
              subSystemForm.controls['subSystem'].hasError('required') &&
              subSystemForm.touched
            "
            >Subsystem is reqiured</mat-error
          >
        </div>
      </div>

      <div class="form_btns">
        <button
          [disabled]="subSystemForm.invalid"
          class=""
          *ngIf="data === null"
          (click)="saveSubSystem()"
        >
          Save
        </button>
        <button
          [disabled]="subSystemForm.invalid || !isFormValueChanged"
          class=""
          *ngIf="data !== null"
          (click)="editSubSystem()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
