<div class="password-container">
  <div class="main">
    <div class="forms">
      <div class="heading">
        <h5>Hi {{firstName}}</h5>
        <p id="head">Forgot Password</p>
      </div>
      <form [formGroup]="ForgotPasswordForm">
        <input
          type="password"
          placeholder="Enter new password"
          name="password"
          id="password"
          formControlName="password"
          minlength="8"
        />
        <span
          *ngIf="
            ForgotPasswordForm.get('password')!.invalid &&
            (ForgotPasswordForm.get('password')!.dirty ||
              ForgotPasswordForm.get('password')!.touched)
          "
        >
          Password required.
        </span>
        <span
          *ngIf="ForgotPasswordForm.controls['password']?.errors?.['minlength'] && ForgotPasswordForm.controls['password']?.touched"
          class="error-message"
        >
          Password: 8 characters minimum required.
        </span>
        <input
          type="password"
          placeholder="Conform password"
          name="conformpassword"
          id="conform-password"
          formControlName="conformpassword"
          minlength="8"
        />
        <span
          *ngIf="
            ForgotPasswordForm.get('conformpassword')!.invalid &&
            (ForgotPasswordForm.get('conformpassword')!.dirty ||
              ForgotPasswordForm.get('conformpassword')!.touched)
          "
        >
          Conform Password required.
        </span>
        <span
          *ngIf="ForgotPasswordForm.controls['conformpassword']?.errors?.['minlength'] && ForgotPasswordForm.controls['conformpassword']?.touched"
          class="error-message"
        >
          Password: 8 characters minimum required.
        </span>
        <span
          *ngIf="
            ForgotPasswordForm.get('conformpassword')!.invalid &&
            (ForgotPasswordForm.get('conformpassword')!.dirty ||
              ForgotPasswordForm.get('conformpassword')!.touched)
          "
        >
          Password should be error
        </span>
        <button
          id="submit"
          type="submit"
          (click)="onSubmit()"
          mat-raised-button
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
