
#previousButton {
  left: 1px;
  bottom: 35px;
  float: left;
  position: fixed;
}

#nextButton {
  right: 18px;
  bottom: 35px;
  float: right;
  position: fixed;
}

.example-card2 {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: darkslategray;
  margin-top: -30px;
  margin-left: -10px;
  padding: 1px;
  //   color: white;
  height: 35px;
}
.topic_table_container {
  width: 70%;
  margin: 0 auto;
  .search_and_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .table-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    table {
      width: 100%;
      border-radius: 8px;
      tr {
        &:first-child {
          border-radius: 8px 8px 0 0;
        }
        th {
          background-color: #3b82f6;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          &:first-child {
            border-radius: 8px 0 0 0;
          }
          &:last-child {
            border-radius: 0 8px 0 0;
          }
        }
        td {
        }
      }
    }

    .mat-paginator {
      border-radius: 0 0 8px 8px;
      width: 100% !important;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .mat-select-value {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 992px) {
  .topic_table_container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .topic_table_container {
    width: 90%;
  }
}