<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12" id="table">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              placeholder="Search"
              [(ngModel)]="value"
              autocomplete="off"
            />
            <button
              mat-button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearFilter()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="mat-elevation-z8" style="margin-left: 50px">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Topic Master
            </th>
            <td mat-cell *matCellDef="let row">{{ row.topic }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <mat-slide-toggle
                class="example-margin"
                color="accent"
                [checked]="row.status == 1"
                (change)="changeRoleStatus(row)"
              >
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="accent"
                matTooltip="Edit CoreBoxType"
                [disabled]="row.status != 1"
                (click)="updateCoreBoxMaster(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete"
                color="accent"
                (click)="deleteCoreBoxMaster(row)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="text-align: center"
            >Topic Master</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <form #exampleForm="ngForm" [formGroup]="myForm">
            <mat-form-field
              class="example-full-width"
              *ngIf="topic._id === undefined"
            >
              <input
                matInput
                placeholder="Topic"
                formControlName="topic"
                name="topic"
                [(ngModel)]="topic.topic"
                autocomplete="off"
              />
              <mat-error>
                <!-- <control-messages [control]="myForm.controls.topic"></control-messages> -->
              </mat-error>
            </mat-form-field>
            <mat-form-field
              class="example-full-width"
              *ngIf="topic._id !== undefined"
            >
              <input
                matInput
                placeholder="Topic"
                formControlName="topic"
                name="topic"
                [(ngModel)]="topic.topic"
                autocomplete="off"
              />
              <mat-error>
                <!-- <control-messages [control]="myForm.controls.topic"></control-messages> -->
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-raised-button
            color="primary"
            style="float: right"
            [disabled]="!exampleForm.valid || !saveButton"
            (click)="saveCoreBoxMaster()"
          >
            {{ topic && topic._id ? "Update" : "Save" }}
          </button>
          <button
            mat-raised-button
            color="warn"
            style="float: right"
            (click)="cancel()"
          >
            Reset
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- <button mat-mini-fab color="accent" id="previousButton" matTooltip="previous" (click)="previousPage()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-mini-fab color="accent" id="nextButton" matTooltip="next" (click)="nextPage()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button> -->
<!-- 
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
  <notifier-container></notifier-container> -->
