<div class="role_container">
  <div class="h2 mb-5 text-center">Role Master</div>
  <div class="role_table_container">
    <div class="search_and_add">
      <div class="search_box">
        <div class="search_field">
          <input
            class="form-control"
            (keyup)="applyFilter($event)"
            placeholder="Search Here"
            #input
          />
        </div>
      </div>
      <div class="add_btn">
        <button mat-raised-button (click)="addRole()">
          Add Role
        </button>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        class="complaint-table"
        matSort
        aria-label="Complaints Table"
      >
        <!-- Index number column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>SNO</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Role column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE</th>
          <td mat-cell *matCellDef="let row">
            <div class="description-cell">{{ row.role }}</div>
          </td>
        </ng-container>

        <!-- status column -->
        <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container> -->

        <!-- Actions column -->
        <!-- <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon
              class="set_edit_color_button"
              matTooltip="edit"
              (click)="editRole(row)"
              >edit</mat-icon
            >
            <mat-icon
              class="set_edit_color_button ms-2"
              matTooltip="delete"
              (click)="deleteRole(row)"
              >delete</mat-icon
            >
          </td>
        </ng-container> -->

        <!-- Header and row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator
        #paginator
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
