.exam-room-container {
  width: 100%;
  min-height: 85vh;
  padding: 10px;
  .invite-area {
    width: 100%;
    height: auto;
    .send-area {
      height: auto;
      input {
        min-width: 300px;
        height: 33px;
      }
      button {
        background-color: #42b4e8;
        color: #fff;
        border: none;
        width: 100px;
        height: 33px;
        border-radius: 5px;
        font-weight: 600;
      }
    }
  }
  .join-area {
    width: 100%;
    .host-area {
      background-color: #f5f6fc;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      column-gap: 3rem;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1024px;
      button {
        border: 1px solid black;
        background-color: transparent;
        border-radius: 100px;
        padding: 4px 8px;
      }
      .code-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input_div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          position: relative;
          label {
            margin-bottom: 0;
          }
          .err {
            position: absolute;
            bottom: -20px;
            left: 50%;
            font-size: 12px;
          }
        }
        button {
          width: 70px;
          height: 35px;
          background-color: #fdbd04;
          color: #000;
          font-weight: 600;
          border: none;
        }
      }
    }
  }

  .live-exam-area {
    width: 100%;
    height: auto;
    padding: 10px;

    #exam-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .live-area {
      min-width: 230px;
      height: auto;
      border-radius: 1rem;
      min-height: 180px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.139);
      margin: 10px;
      h6 {
        text-align: center;
      }
      p {
        font-size: 14px;
        color: #42b4e8;
        text-align: center;
      }
      button {
        background-color: #42b4e8;
        color: #fff;
        width: 100%;
      }
      .bg_div {
        width: 100%;
        min-height: 130px;
        background-image: url("../../../../assets/images/USMLE.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 1rem 1rem 0 0;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .sm-margin_0 {
      margin-left: 0 !important;
    }
    .invite-area {
      .send-area {
        // border: 1px solid saddlebrown;
        width: 100%;
        height: auto;
        input {
          width: 50%;
          height: 33px;
          border: 1px solid rgba(0, 0, 0, 0.616);
        }
        button {
          margin-top: 1rem;
        }
      }
    }
    .join-area {
      height: auto;
      .host-area {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        h6 {
          margin-top: 15px;
        }
        .code-area {
          flex-direction: column;
          .input_div {
            flex-direction: column;
          }
          button {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
