<div class="exam-room-container">
  <div class="invite-area">
    <h5>Invite your friends to join Eminence</h5>
    <div class="send-area">
      <p>Send an email invite</p>
      <input type="text" name="invite" id="invite">
      <button>Send</button>
    </div>
  </div>
  <div class="join-area">
    <h5>Join a Private Exam Room</h5>
    <div class="host-area">
      <button>Host Exam Room</button>
      <h6>OR</h6>
      <div class="code-area">
        <p>Join Exam Room : </p>
        <input type="text">
        <button>Go</button>
      </div>
    </div>
  </div>
</div>
