<div class="exam-room-container">
  <div class="invite-area">
    <h5>Invite your friends to join Eminence</h5>
    <div class="send-area">
      <p>Send an email invite</p>
      <input
        type="text"
        name="invite"
        id="invite"
        #emailInput="ngModel"
        [(ngModel)]="inviteEmail"
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <button (click)="sendInvite()" [disabled]="emailInput.invalid">
        Send
      </button>
      <div
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
      >
        <div *ngIf="emailInput.errors?.['required']" style="color: red">
          Email is required.
        </div>
        <div *ngIf="emailInput.errors?.['pattern']" style="color: red">
          Please enter a valid email address.
        </div>
      </div>
    </div>
  </div>
  <div class="join-area">
    <h5>Join a Private Exam Room</h5>
    <div class="host-area">
      <button routerLink="/eminence/student/build-test/hostexam">
        Host Exam Room
      </button>
      <h6>OR</h6>
      <form class="code-area" #joinForm="ngForm">
        <p>Join Exam Room :</p>

        <input
          type="text"
          [(ngModel)]="privateExam.roomCode"
          name="joinLink"
          #joinLinkInput="ngModel"
          required
          minlength="4"
        />
        <br />
        <div
          *ngIf="
            joinLinkInput.invalid &&
            (joinLinkInput.dirty || joinLinkInput.touched)
          "
          style="color: red"
        >
          <div *ngIf="joinLinkInput.errors?.['required']">
            Link is required.
          </div>
          <div *ngIf="joinLinkInput.errors?.['minlength']">
            Link must be at least 4 characters.
          </div>
        </div>

        <button type="submit" (click)="goRoom()" [disabled]="joinForm.invalid">
          Go
        </button>
      </form>
    </div>
  </div>
  <div class="live-exam-area">
    <h5>Join a Live Exam Room</h5>
    <div id="exam-area">
      <div class="live-area">
        <h6>USMLE Step 1</h6>
        <!-- <p>234 members online now</p> -->
        <button mat-button routerLink="/eminence/student/live-room">
          Join
        </button>
      </div>
      <!-- <div class="live-area">
        <h6>All subject</h6>
        <p>234 members online now</p>
        <button mat-button>Take Exam</button>
      </div>
      <div class="live-area">
        <h6>Anatomy</h6>
        <p>234 members online now</p>
        <button mat-button>Take Exam</button>
      </div>
      <div class="live-area">
        <h6>Science</h6>
        <p>234 members online now</p>
        <button mat-button>Take Exam</button>
      </div> -->
    </div>
  </div>
</div>
