<div class="form_crud">
  <mat-icon class="close_btn" mat-icon-button (click)="onNoClick()"
    >close</mat-icon
  >
  <div class="form_wrap">
    <div class="form_heading">
      {{ visibleUpdate ? "Edit Package" : "Add Package" }}
    </div>
    <form [formGroup]="packageForm">
      <div class="flex_form">
        <div class="row_group">
          <div class="form-group custom_group">
            <label for="packageName">Package name</label>
            <input
              type="text"
              id="packageName"
              name="packageName"
              class="form-control"
              formControlName="packageName"
              [(ngModel)]="package.packageName"
            />
            <div class="error">
              <mat-error
                *ngIf="
                  packageForm.controls['packageName'].hasError('required') &&
                  packageForm.controls['packageName'].touched
                "
                >Package name is required</mat-error
              >
            </div>
          </div>
        </div>
        <div class="row_group">
          <div class="form-group custom_group">
            <label for="type">Type</label>
            <select
              id="type"
              class="form-select"
              name="type"
              formControlName="type"
              aria-label="select package type"
              [(ngModel)]="package.type"
            >
              <option disabled selected value="">select type</option>
              <option value="B2B">B2B</option>
              <option value="B2C">B2C</option>
            </select>
            <div class="error">
              <mat-error
                *ngIf="
                  packageForm.controls['type'].hasError('required') &&
                  packageForm.controls['type'].touched
                "
                >Package type is required</mat-error
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-group custom_group">
        <label for="topic">Topic</label>
        <select
          id="topic"
          class="form-select form-select-lg"
          aria-label="Default select example"
          name="topicId"
          formControlName="topicId"
          [(ngModel)]="package.topicId"
          placehoder="select"
        >
          <option *ngFor="let topic of topics" [value]="topic._id">
            {{ topic.topic }}
          </option>
        </select>
        <div class="error">
          <mat-error
            *ngIf="
              packageForm.controls['topicId'].hasError('required') &&
              packageForm.controls['topicId'].touched
            "
            >Topic is required</mat-error
          >
        </div>
      </div>
      <div class="form-group custom_group" *ngIf="package.type === 'B2B'">
        <label for="questionsCount">Questions Count (per month)</label>
        <input
          type="tel"
          id="questionsCount"
          name="questionsCount"
          formControlName="questionsCount"
          class="form-control"
          [(ngModel)]="package.questionsCount"
          (keydown)="restrictInput($event)"
        />
        <div class="error">
          <mat-error
            *ngIf="
              packageForm.controls['questionsCount'].hasError('required') &&
              packageForm.controls['questionsCount'].touched
            "
            >Questions count is required</mat-error
          >
        </div>
      </div>
      <div
        class="form-group custom_group"
        *ngIf="package.type === 'B2B' || package.type === 'B2C'"
      >
        <label for="amount">Amount</label>
        <input
          type="text"
          id="amount"
          name="amount"
          formControlName="amount"
          class="form-control"
          [(ngModel)]="package.amount"
        />
        <div class="error">
          <mat-error
            *ngIf="
              packageForm.controls['amount'].hasError('required') &&
              packageForm.controls['amount'].touched
            "
            >Amount is required</mat-error
          >
        </div>
      </div>
      <div class="form-group custom_group" *ngIf="package.type === 'B2B'">
        <label for="rate">Rate (per question)</label>
        <input
          type="text"
          id="rate"
          name="rate"
          formControlName="rate"
          class="form-control"
          [(ngModel)]="package.rate"
        />
        <div class="error">
          <mat-error
            *ngIf="
              packageForm.controls['rate'].hasError('required') &&
              packageForm.controls['rate'].touched
            "
            >Rate per question is required</mat-error
          >
        </div>
      </div>
      <div
        class="form-group custom_group"
        *ngIf="package.type === 'B2B' || package.type === 'B2C'"
      >
        <label for="duration_type">Duration Type</label>
        <select
          name="durationTyype"
          class="form-select"
          formControlName="durationType"
          id="duration_type"
          [(ngModel)]="package.durationType"
        >
          <option disabled selected value="">select duration type</option>
          <option value="monthly">Monthly</option>
          <option value="quarterly">Quarterly</option>
          <option value="half-yearly">Half-yearly</option>
          <option value="annually">Annually</option>
        </select>
        <div class="error">
          <mat-error
            *ngIf="
              packageForm.controls['durationType'].hasError('required') &&
              packageForm.controls['durationType'].touched
            "
            >Duration type is required</mat-error
          >
        </div>
      </div>
      <div class="form_btns">
        <button
          type="submit"
          (click)="onPackageSubmit()"
          *ngIf="!visibleUpdate"
          [ngClass]="{
            'valid-form': packageForm.valid,
            'invalid-form': !packageForm.valid
          }"
        >
          Add
        </button>

        <button
          type="submit"
          (click)="updatePackage()"
          *ngIf="visibleUpdate"
          [disabled]="packageForm.invalid"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
