.master_container {
  padding: 1rem;
  .table_container {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .master_container {
    .table_container {
      width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .master_container {
    .table_container {
      width: 100%;
      margin: 0 auto;
    }
  }
}