<p>History works</p>
<!-- <div class="history-container">
  <p>View your <strong style="color: var(--qgen-red)">export and download history.</strong></p>
  <div class="history-response">
    <div class="history-response_1">
    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong> bacteria, gram-negative, rod-shaped
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Questions:</strong> 6</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>

    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong> voltage-gated calcium channels, sarcoplasmic recticulum
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Questions:</strong> 11</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>

    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong>  voltage-gated calcium channels, sarcoplasmic recticulum
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Questions:</strong> 11</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="history-response_2">
    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong>  bacteria, gram-negative, rod-shaped.
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Ask Eminence:</strong> Downloaded</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>

    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong>  voltage-gated calcium channels, sarcoplasmic recticulum
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Questions:</strong> 11</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>

    <div class="response">
      <div class="input-wrap">
        <strong>Input:</strong>  voltage-gated calcium channels, sarcoplasmic recticulum
      </div>
      <div class="questions-wrap">
        <div class="questions"><strong>Ask Eminence:</strong> Downloaded</div>
        <div class="loader me-3">
        </div>
      </div>
      <div class="completion-bar">
        <div class="red-bg">
          <div class="green-bg" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div> -->
