<div class="sidenav-container">
  <section>
    <mat-sidenav-container>
      <mat-sidenav
        #sidenav
        mode="side"
        [(opened)]="opened"
        class="custom-sidenav"
      >
        <div class="admin" *ngIf="decryptUserRole === 'ADMIN'">
          <div class="navigation-header">
            <img src="assets/images/Eminence_logo.png" alt="Logo" />
            <h2>Eminence</h2>
            <mat-icon (click)="sidenav.close()">arrow_back</mat-icon>
          </div>
          <div class="navigation">
            <ul>
              <li
                (click)="changeBackgroundColor(0)"
                [ngClass]="{ selected: selectedIndex === 0 }"
                (click)="role()"
              >
                Role
              </li>
              <li
                (click)="changeBackgroundColor(1)"
                [ngClass]="{ selected: selectedIndex === 1 }"
                (click)="institution()"
              >
                Institution
              </li>
              <li
                (click)="changeBackgroundColor(2)"
                [ngClass]="{ selected: selectedIndex === 2 }"
                (click)="subscription()"
              >
                Subscription
              </li>
              <li
                (click)="changeBackgroundColor(3)"
                [ngClass]="{ selected: selectedIndex === 3 }"
                (click)="package()"
              >
                Package
              </li>
            </ul>
          </div>

        </div>
        <div class="faculty" *ngIf="decryptUserRole === 'FACULTY'">
          <div class="navigation-header">
            <img src="assets/images/Eminence_logo.png" alt="Logo" />
            <h2>Eminence</h2>
            <mat-icon (click)="sidenav.close()">arrow_back</mat-icon>
          </div>
          <div class="navigation">
            <ul>
              <li
                (click)="changeBackgroundColor(0)"
                [ngClass]="{ selected: selectedIndex === 0 }"
                (click)="qgen()"
              >
                QGen
              </li>
              <li
                (click)="changeBackgroundColor(1)"
                [ngClass]="{ selected: selectedIndex === 1 }"
                (click)="editor()"
              >
                Editor
              </li>
              <li
                (click)="changeBackgroundColor(2)"
                [ngClass]="{ selected: selectedIndex === 2 }"
                (click)="askeminence()"
              >
                Ask Eminence
              </li>
              <li
                (click)="changeBackgroundColor(3)"
                [ngClass]="{ selected: selectedIndex === 3 }"
                (click)="history()"
              >
                History
              </li>
            </ul>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="heading">
          <h4>
            <mat-icon *ngIf="!opened" (click)="sidenav.toggle()"
              >arrow_forward</mat-icon
            >Welcome {{ decryptFirstName }}
          </h4>
          <mat-icon class="custom-icon" (click)="profile()">account_circle</mat-icon>
        </div>
        <div class="sidenav-content" [ngSwitch]="component">
          <div class="sidenav-content-component" *ngSwitchCase="'qgen'">
            <app-qgen></app-qgen>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'editor'">
            <app-editor></app-editor>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'askeminence'">
            <app-askeminence></app-askeminence>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'history'">
            <app-history></app-history>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'role'">
            <app-role></app-role>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'institution'">
            <app-institution></app-institution>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'subscription'">
            <app-subscription></app-subscription>
          </div>
          <div class="sidenav-content-component" *ngSwitchCase="'package'">
            <app-package></app-package>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
</div>
