<div class="email-container">
  <div class="main">
    <div class="forms">
      <div class="heading">
        <p id="head">Forgot / Change Password</p>
        <p>Enter your email to reset your password.</p>
      </div>
      <form [formGroup]="emailForgotPasswordForm">
        <div>
          <input
            type="text"
            placeholder="Email address"
            name="email"
            [(ngModel)]="email"
            formControlName="email"
            [attr.disabled]="isSendingOTP"
            id="emailfield"
          />
          <span
            class="error_message"
            *ngIf="
              emailForgotPasswordForm.get('email')!.invalid &&
              (emailForgotPasswordForm.get('email')!.dirty ||
                emailForgotPasswordForm.get('email')!.touched)
            "
          >
            Email required, valid format.
          </span>
        </div>
        <div style="text-align: center" class="mt-3">
          <button
            *ngIf="!isSendingOTP"
            [disabled]="emailForgotPasswordForm.invalid"
            id="sendotp"
            type="submit"
            (click)="sendOTP()"
            mat-raised-button
          >
            Send Otp
          </button>
          <span class="timer_s" *ngIf="isSendingOTP && timeRemaining !== 0"
            >{{ timeRemaining }} seconds</span
          >
        </div>
      </form>
      <form *ngIf="isSendingOTP" [formGroup]="otpForgotPasswordForm">
        <input
          matInput
          type="text"
          placeholder="Enter OTP Here"
          name="otp"
          id="otp"
          formControlName="otp"
          minlength="6"
          maxlength="6"
          pattern="[0-9]*"
        />
        <span
          class="error_message"
          *ngIf="
            otpForgotPasswordForm.get('otp')!.invalid &&
            (otpForgotPasswordForm.get('otp')!.dirty ||
              otpForgotPasswordForm.get('otp')!.touched)
          "
        >
          OTP required,valid format.
        </span>
        <span
          class="error_message"
          *ngIf="otpForgotPasswordForm.controls['otp']?.errors?.['minlength'] && otpForgotPasswordForm.controls['otp']?.touched"
        >
          OTP must be at least 6 characters long.
        </span>
        <span
          class="error_message"
          *ngIf="otpForgotPasswordForm.controls['otp']?.errors?.['maxlength'] && otpForgotPasswordForm.controls['otp']?.touched"
        >
          OTP must be 6 characters long.
        </span>
        <span
          class="error_message"
          *ngIf="otpForgotPasswordForm.controls['otp']?.errors?.['pattern'] && otpForgotPasswordForm.controls['otp']?.touched"
        >
          Only numbers are allowed.
        </span>
        <button
          id="verifyotp"
          type="submit"
          (click)="verifyOTP()"
          mat-raised-button
          [disabled]="!isSendingOTP"
        >
          Verify Otp
        </button>
        <button
          *ngIf="isSendingOTP && timeRemaining === 0"
          class="mt-3"
          style="width: 100%"
          id="sendotp"
          type="submit"
          (click)="sendOTP()"
          mat-raised-button
        >
          Resend OTP
        </button>
      </form>
    </div>
  </div>
</div>
