<table style="width: 100%">
  <thead>
    <tr>
      <td><strong>CEREBROSPINAL FLUID</strong></td>
      <td><strong>Reference Range</strong></td>
      <td><strong>SI Reference Intervals</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell count</td>
      <td>0–5/mm3</td>
      <td>0–5 × 10<sup>6</sup>/L</td>
    </tr>
    <tr>
      <td>Chloride</td>
      <td>118–132 mEq/L</td>
      <td>118–132 mmol/L</td>
    </tr>
    <tr>
      <td>Gamma globulin</td>
      <td>3%–12% total proteins</td>
      <td>0.03–0.12</td>
    </tr>
    <tr>
      <td>Glucose</td>
      <td>40–70 mg/dL</td>
      <td>2.2–3.9 mmol/L</td>
    </tr>
    <tr>
      <td>Pressure</td>
      <td>70–180 mm H<sub>2</sub>O</td>
      <td>70–180 mm H<sub>2</sub>O</td>
    </tr>
    <tr>
      <td>Proteins, Total</td>
      <td><40 mg/dL</td>
      <td><0.40 g/L</td>
    </tr>
  </tbody>
</table>
