<mat-sidenav-container
  style="background-color: #fff"
  class="container-fluid exam_timed"
>
  <div class="container exam_timed_wrap">
    <div class="flag_section">
      <label for="{{ selectedQuestion._id }}">
        <input
          id="{{ selectedQuestion._id }}"
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="isFlag"
          (change)="isFlagged($event)"
        />
        Flag
      </label>
      <div class="exapnsion_div">
        <img
          src="../../../../assets/images/triangle_blue.png"
          alt="triangle_blue"
          (click)="setHeight = !setHeight"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          src="../../../../assets/images/lab.png"
          alt="lab"
          (click)="openLabValues()"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          style="transform: translateX(2px)"
          src="../../../../assets/images/notes.png"
          alt="notes"
          (click)="showNotepad = !showNotepad"
        />
        <img
          [ngStyle]="setHeight ? { display: 'inline' } : { display: 'none' }"
          src="../../../../assets/images/calculator.png"
          alt="calculator"
          (click)="showCalculator = !showCalculator"
        />
        <div *ngIf="showNotepad" class="notepad" cdkDrag>
          <app-notes (closeNotepad)="closeNotepad($event)"></app-notes>
        </div>
        <div *ngIf="showCalculator" class="calculator" cdkDrag>
          <app-calculator
            (closeCalc)="closeCalculator($event)"
          ></app-calculator>
        </div>
      </div>
    </div>
    <div class="item_no mb-3">
      <span>Item {{ tempQuestionIndex + 1 }} of {{ questions.length }}</span>
      <div id="exam-code">
        <h5 *ngIf="liveExamRoomCode">Private exam room</h5>
        <p *ngIf="liveExamRoomCode">Room code : {{ liveExamRoomCode }}</p>
      </div>
    </div>
    <div class="question_id_link mb-lg-4 mb-md-4 mb-3">
      <button
        *ngFor="let question of questions; let i = index"
        (click)="navigateQuestion(question._id, i)"
      >
        {{ i + 1 }}
        <span class="selected-question" *ngIf="isQuestionSubmited(question._id)"
          >&#x2714;</span
        >
        <span [ngClass]="{ flag_icon: isflaggedQuestion(question._id) }"></span>
      </button>
    </div>
    <div class="question_ans mb-lg-5 mb-md-5 mb-3">
      <div class="question mb-4">
        {{ tempQuestionIndex + 1 }}. {{ selectedQuestion?.title }}
      </div>
      <ul class="options">
        <li *ngFor="let option of selectedQuestion?.options; let i = index">
          <label
            class="pointer_cl"
            for="{{ option._id }}"
            (click)="selectOptionIndex(i)"
            ><input
              id="{{ option._id }}"
              [(ngModel)]="selectOption"
              type="radio"
              class="square_radio"
              [value]="option?._id"
            />{{ generateAlphabetChar(i) }}. {{ option?.text }}</label
          >
        </li>
      </ul>
      <div class="submit_check">
        <button
          type="button"
          class="btn btn-warning"
          (click)="gotoNext(selectedQuestion, selectOption)"
        >
          Submit Answer
        </button>
      </div>
    </div>
    <div class="chat-area" *ngIf="liveExamRoomCode">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Chat </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="chatForm">
          <div class="chats">
            <div class="text-area" #target>
              <div id="chat" *ngFor="let message of messageList">
                <div id="name-text-chat">
                  <div style="display: flex">
                    <p id="user-profile">
                      {{ message?.senderUsername.charAt(0) }}
                    </p>
                    <h6 style="margin-left: 15px; margin-top: 10px">
                      {{ message?.senderUsername }}
                    </h6>
                  </div>
                  <p>{{ message?.replymessage }}</p>
                </div>
                <span>{{ message?.time }}</span>
              </div>
            </div>
            <div class="input-area">
              <input
                type="text"
                placeholder="Type here..."
                formControlName="replymessage"
                [(ngModel)]="message.replymessage"
              />
              <button mat-button (click)="clickMessage()">send</button>
            </div>
          </div>
        </form>
        <!-- <button (click)="scrollToElement(target)">Click</button> -->
      </mat-expansion-panel>
    </div>
    <div class="timed_mode_actions">
      <button class="btn btn-warning" (click)="submitExam()">End</button>
      <div class="timer_elapsed">
        <span>Time Remaining: {{ displayTimer }} </span>
      </div>
    </div>
  </div>
  <mat-sidenav #sidenav mode="side" position="end"
    ><app-lab-values (closeLabValue)="closeLabValue($event)"></app-lab-values
  ></mat-sidenav>
</mat-sidenav-container>
