<div class="send-invite-container">
  <div class="close-area">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <div class="start-now">
    <button (click)="closeDialogStartnoew()">Start now</button>
  </div>
  <div class="code-area">
    <h5>host exam room code</h5>
    <h2>{{ uniqueCode }}</h2>
  </div>
  <div class="invite-area">
    <h6>Send an email invite with code</h6>
    <form #inviteForm="ngForm">
      <textarea
        [(ngModel)]="sendCode.email"
        name="emails"
        required
        pattern="([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}\s*,\s*)*([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})"
        #emailInput="ngModel"
      ></textarea>

      <button
        type="submit"
        [disabled]="inviteForm.invalid"
        (click)="sendInvite(inviteForm)"
      >
        Send
      </button>
      <!-- Display validation message if email is not valid -->
      <h6 id="comma">Use comma to add more Email</h6>
      <div
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
        class="error-message"
      >
        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput.errors?.['pattern']">Invalid email address.</div>
      </div>
    </form>
  </div>
  <div class="user-list-area">
    <div class="user-list-main">
      <div class="wait-list">
        <h6>Waiting list</h6>
        <div id="wait-list">
          <p *ngFor="let email of inviteObject.email" matTooltip="{{ email }}">
            {{ email | initials }}
          </p>
          &nbsp;
        </div>
      </div>
      <div class="joined-list">
        <h6>Joined list</h6>
        <div id="joined-list">
          <p matTooltip="dharukumar@gmail.com ">
            {{ "dharukumar@gmail.com " | initials }}
          </p>
          &nbsp;
          <p matTooltip="shek@gmail.com">{{ "shek@gmail.com" | initials }}</p>
          &nbsp;
          <p matTooltip="tamilselvan@gmail.com">
            {{ "tamilselvan@gmail.com" | initials }}
          </p>
          &nbsp;
          <p matTooltip="tamil@gmail.com">{{ "tamil@gmail.com" | initials }}</p>
          &nbsp;
        </div>
      </div>
    </div>
    <div class="no-active">
      <h6>Non registered members</h6>
      <div id="no-active-list">
        <p *ngFor="let email of noActiveMembers" matTooltip="{{ email }}">
          {{ email | initials }}
        </p>
        &nbsp;
      </div>
    </div>
  </div>
</div>
