<div class="login-container">
  <header>
    <h2>MEMBER LOGIN</h2>
    <p (click)="closeDialog()">X</p>
  </header>
  <div class="login-fields">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <input type="text" placeholder="Email address" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <p
        *ngIf="
          loginForm.get('email')!.invalid &&
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)
        "
      >
        Email required, valid format.
      </p>
      <p
        *ngIf="
          loginForm.get('password')!.invalid &&
          (loginForm.get('password')!.dirty ||
            loginForm.get('password')!.touched)
        "
      >
        Password: 8 characters minimum required.
      </p>

      <p
        *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)"
        id="all-field"
      >
        Please fill in all the required fields.
      </p>
      <button id="login" type="submit">LOG IN</button>
      <br />
      <button id="register" type="button">REGISTER</button>
      <a href="">Forgot password</a>
    </form>
  </div>
</div>
