<div class="home_container">
  <section class="banner_section">
    <div class="banner_content_wrapper">
      <div class="head1">
        <strong>Medical Education</strong>
      </div>
      <div class="head2_content">
        <strong class="blue_c">Personalized</strong>&nbsp;<span>For You,</span><br />
        <strong class="orange_c">Optimized</strong>&nbsp;<span>for Your Institution</span>
      </div>
      <div>
        <p class="p_content orange_c">Unlimited Content Generation &#124; Community Learning &#124; Turn Weaknesses Into
          Strengths</p>
        <p style="font-size: 17px">Experience our cutting edge beta now!</p>
      </div>
      <button class="banner_button">Get Started</button>
    </div>
    <div class="banner_content_2">
      <h4 style="font-weight: bold; text-align: center;">Empowering physicians & medical students worldwide!</h4>
      <div class="scrolling-wrapper">
        <div class="scrolling-content" #scrollingContent>
          <div *ngFor="let item of scrollingItems" class="scrolling-item">{{ item }}</div>
        </div>
      </div>
    </div>
  </section>
  <div class="banner2_section">
    <section class="infos"></section>
    <section class="infos"></section>
    <section class="infos"></section>
    <section class="infos"></section>
  </div>
</div>