<div class="home_container">
  <section class="banner_section">
    <div class="banner_content_wrapper">
      <div class="col_1">
        <div class="head1">
          <strong>Medical Education</strong>
        </div>
        <div class="head2_content">
          <strong class="blue_c">Personalized</strong>&nbsp;<span>For You,</span
          ><br />
          <strong class="orange_c">Optimized</strong>&nbsp;<span
            >for Your Institution</span
          >
        </div>
        <div>
          <p class="p_content orange_c">
            Unlimited Content Generation &#124; Community Learning &#124; Turn
            Weaknesses Into Strengths
          </p>
          <p style="font-size: 17px">Experience our cutting edge beta now!</p>
        </div>
        <button class="banner_button">Get Started</button>
      </div>
      <div class="col_2"></div>
    </div>
    <div class="banner_content_2">
      <h4 style="font-weight: bold; text-align: center">
        Empowering physicians & medical students worldwide!
      </h4>
      <div class="scrolling-wrapper">
        <div class="scrolling-content">
          <ng-container *ngFor="let item of scrollingItems; let last = last">
            <div class="scrolling-item">{{ item }}</div>
          </ng-container>
        </div>
        <div class="scrolling-content">
          <ng-container *ngFor="let item of scrollingItems; let last = last">
            <div class="scrolling-item">{{ item }}</div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
  <section class="banner2_section">
    <ng-container *ngFor="let bannerContent of bannerContents">
      <app-banner
        [bannerContent]="bannerContent"
        [componentName]="componentName"
      ></app-banner>
    </ng-container>
  </section>
  <section class="faq_section">
    <div style="margin-bottom: 24px">
      <h1><strong>FAQs</strong></h1>
      <p class="para">You have questions. We have answers.</p>
    </div>
    <div class="expan_panel">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="faq_panel_header">
                How do I know the content is accurate?
              </h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq_panel_content">
            While AI chatbots such as ChatGPT will fail to produce accurate
            content or citations, Eminence uses a framework that combines LLMs
            with external data to ensure high-quality questions and
            explanations. The external data used in our algorithm consists of
            verified exam prep content.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="expan_panel">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="faq_panel_header">
                What exams are currently offered?
              </h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq_panel_content">
            We currently offer exam prep content for the USMLE Step 1 and 2, as
            well as board certification exams for residents/physicians. As
            EminenceAI grows our user base, we will look to expand outside of
            medicine.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="expan_panel">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="faq_panel_header">
                I am a resident/physician. Can I request content for a board
                certification exam?
              </h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq_panel_content">
            Yes! If you are a resident/physician preparing for a board
            certification exam that you do not see on our website, we take
            requests! Send an email to sj@eminenceai.com with the type of exam
            and we will make it happen.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>
  <div class="acdamic_section">
    <div class="acdamic_section_wrap">
      <div class="acadamic_content">
        <h2>For academic institutions or premier tutoring centers</h2>
        <p>Find out more on our Enterprise page!</p>
        <button class="learn_more_button" routerLink="/enterprise">
          LEARN MORE
        </button>
      </div>
    </div>
  </div>
</div>
