<div class="add-attributes-container">
  <div class="heading">
    <p>Attr/Vetter Master</p>
  </div>
  <div class="main">
    <div class="table-area">
      <div class="control-area">
        <input placeholder="Search here..." (keyup)="applyFilter($event)" />
      </div>
      <div class="table">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header id="data-table"
              >Date</mat-header-cell
            >
            <mat-cell *matCellDef="let row" id="data-table">{{
              row.createdAt | date : "MM-dd-YYYY"
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="input">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Input</mat-header-cell
            >
            <mat-cell *matCellDef="let row">{{
              row.keywords?.join(", ")
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="question">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              id="question-table"
              >Question</mat-header-cell
            >
            <mat-cell *matCellDef="let row" id="question-table">{{
              row.questionsCount
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="element">
            <mat-header-cell *matHeaderCellDef mat-sort-header id="small-table"
              >Attributes</mat-header-cell
            >
            <mat-cell *matCellDef="let row" id="small-table"
              ><mat-icon
                (click)="openAddDialog(row)"
                matTooltip="Add attributes"
                *ngIf="!row.subSystemId"
                >add</mat-icon
              >
              <mat-icon *ngIf="row.subSystemId" (click)="updateAttributes(row)"
                >edit</mat-icon
              >
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vetter">
            <mat-header-cell *matHeaderCellDef mat-sort-header id="small-table"
              >Vetter</mat-header-cell
            >
            <mat-cell *matCellDef="let row" id="small-table"
              ><mat-icon
                (click)="openAddDialog1(row)"
                matTooltip="Assign vetter"
                *ngIf="!row.vetterId"
                >touch_app</mat-icon
              >
              <mat-icon
                *ngIf="row.vetterId"
                [matTooltip]="row.vetterName"
                (click)="openAddDialogForUpdateVetter(row)"
                >edit</mat-icon
              >
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header id="action-table"
              >Action</mat-header-cell
            >
            <mat-cell *matCellDef="let row" id="action-table"
              ><mat-icon (click)="confirmDelete(row)" matTooltip="Delete set"
                >delete</mat-icon
              ></mat-cell
            >
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="5"
          [pageIndex]="0"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
