.add-attributes-container {
  width: 100%;
  height: 85vh;
  .heading {
    width: 100%;
    height: auto;
    text-align: center;
    p {
      font-size: 32px;
      font-weight: 600;
    }
  }
  .main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .table-area {
      width: 80%;
      height: auto;
      .control-area {
        width: 100%;
        height: auto;
        input {
          border: 1px solid #c6c9cd;
          border-radius: 3px;
          color: #636972;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          font-family: "open_sans", "Open Sans", sans-serif;
          line-height: 1.5;
          font-weight: normal;
          font-size: 14px;
          font-style: normal;
          padding: 6px 8px;
          min-height: 36px;
          &::placeholder {
            font-weight: 600;
            color: #bcbcbc;
          }
        }
      }
      .table{
        width: 100%;
        height: auto;
        margin-top: 20px;
        mat-table{
          width: 100%;
          height: auto;
          mat-header-cell{
            background-color: var(--qgen-logo-blue);
            font-size: 16px;
            font-weight: 500;
            color: #fff;
          }
          mat-icon{
            color: #fabf01;
            cursor: pointer;
          }
          #data-table{
            flex: 0.3;
          }
          #small-table{
            flex: 0.3;
          }
          #action-table{
            flex: 0.3;
          }
          #small-table{
            flex: 0.3;
          }
          #question-table{
            flex: 0.3;
          }
        }
        mat-paginator {
          z-index: 1;
        }
      }
    }
    @media (max-width: 768px){
      .table-area {
      width: 90% !important;
        .table {
          mat-table {
            mat-header-cell {
              font-size: 13px !important;
            }
            #data-table{
              flex: 0.3 !important;
            }
            #question-table{
              flex: 0.6 !important;
            }
            #small-table{
              flex: 0.5 !important;
            }

          }
        }
      }
    }
  }
}
