<div class="qgen_container">
  <p>Qgen Works</p>
  <!-- <p>
    <strong style="color: red">QGen</strong> is your custom question generator.
    Enter a few key words or a key concept to build a full USMLE-style question
    that pertains to your input.
  </p>
  <br />
  <p>Example Input: antiphospholipid syndrome, anticardiolipin, SLE</p>
  <p>
    Another Example: The basal lamina connects to fibrils of the reticular
    lamina via Type 7 collagen.
  </p>

  <form >
    <div class="form-group mb-3">
      <textarea class="form-control" name="" id="" rows="6" placeholder="Enter Input...">
    </textarea>
    </div>
    <div class="bulid_qestion">
      <div>Number of Questions:</div>
      <div class="form-group" style="display: inline-block">
        <input type="text" class="form-control">
      </div>
      <div>
        <button class="btn btn-primary" type="button">Build</button>
      </div>
    </div>
  </form>

  <div class="qgen_response_container">
    <div class="h5" style="font-weight: 600;">Pending</div>
    <div class="qgen-response">
      <div class="response">
        <div class="input"></div>
      </div>
    </div>
  </div> -->
</div>
