<div class="qgen_container">
  <p>
    <strong style="color: var(--qgen-red)">QGen</strong> is your custom question
    generator. Enter a few key words or a key concept to build a full
    USMLE-style question that pertains to your input.
  </p>
  <br />
  <p>Example Input: antiphospholipid syndrome, anticardiolipin, SLE</p>
  <p>
    Another Example: The basal lamina connects to fibrils of the reticular
    lamina via Type 7 collagen.
  </p>

  <form [formGroup]="gGenForm">
    <div
      style="margin-bottom: 1.125rem"
      class="form-group custom_textarea_group"
    >
      <textarea
        class="form-control"
        name=""
        id=""
        rows="6"
        formControlName="keywords"
        placeholder="Enter Input..."
      >
      </textarea>
      <div class="error">
        <mat-error
          *ngIf="
            gGenForm.controls['keywords'].hasError('required') &&
            gGenForm.controls['keywords'].touched
          "
          >Please enter a valid input. it cannot be empty</mat-error
        >
      </div>
    </div>
    <div class="bulid_qestion">
      <div class="fw-600">Number of Questions:</div>
      <div class="form-group number_input" style="display: inline-block">
        <input
          type="number"
          class="form-control"
          formControlName="questionsCount"
        />
        <div class="re_error">
          <mat-error
            *ngIf="
              gGenForm.controls['questionsCount'].hasError('required') &&
              gGenForm.controls['questionsCount'].touched
            "
            >Enter a valid input.</mat-error
          >
          <mat-error *ngIf="gGenForm.controls['questionsCount'].hasError('max')"
            >Maximum question count is 10</mat-error
          >
          <mat-error *ngIf="gGenForm.controls['questionsCount'].hasError('min')"
            >Minimum question count is 1</mat-error
          >
        </div>
      </div>
      <div class="build_btn">
        <button
          [disabled]="gGenForm.invalid"
          type="button"
          (click)="submitQgen()"
        >
          Build
        </button>
      </div>
    </div>
  </form>

  <div class="qgen_response_container">
    <div class="h5 fw-600" style="color: var(--qgen-red)">Pending</div>
    <div class="qgen-response">
      <!-- <div class="response">
        <div class="input_wrap">
          <strong>Input: </strong>myelin, nodes of Ranvier, sodium channels
        </div>
        <div class="questions_wrap">
          <div class="questions"><strong>Questions:</strong> 14</div>
          <div class="loader me-3">
            <img src="../../../../assets/images/loader.gif" />
          </div>
        </div>
        <div class="completion_bar">
          <div class="red_bg">
            <div class="green_bg" style="width: 65%"></div>
          </div>
        </div>
      </div> -->

      <div
        class="response"
        *ngFor="let qgenObject of qgenObjectList"
        [routerLink]="['/eminence/faculty/editor',qgenObject._id]"
        >
        <!-- (click)="routeEditor(qgenObject._id)" -->
        <div class="input_wrap">
          <strong>Input: </strong>{{ qgenObject.keywords }}
        </div>
        <div class="questions_wrap">
          <div class="questions">
            <strong>Questions:</strong> {{ qgenObject.questionsCount }}
          </div>
          <div class="loader me-3">
            <!-- <img src="../../../../assets/images/loader.gif" /> -->
            <mat-icon>check_circle</mat-icon>
          </div>
        </div>
        <div class="completion_bar">
          <div class="red_bg">
            <div class="green_bg" style="width: 100%"></div>
          </div>
        </div>
      </div>

      <!-- <div class="response">
        <div class="input_wrap">
          <strong>Input: </strong>microtubules, dynein, basal body
          <div class="questions_wrap">
            <div class="questions"><strong>Questions:</strong> 7</div>
            <div class="loader me-3">
              <img src="../../../../assets/images/loader.gif" />
              <mat-icon class="custom_check_icon">check_circle</mat-icon>
            </div>
          </div>
          <div class="completion_bar">
            <div class="red_bg">
              <div class="green_bg" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
