// .exam-container {
//   width: 100%;
//   height: 85vh;
//   // border: 1px solid red;
//   .controls {
//     width: 100%;
//     height: auto;
//     // border: 1px solid yellow;
//     display: flex;
//     .button {
//       width: auto;
//       height: auto;
//       // border: 1px solid pink;
//       p {
//         width: 30px;
//         height: 30px;
//         border-radius: 50%;
//         color: #000;
//         background-color: var(--qgen-logo-yellow);
//         margin-left: 10px;
//         text-align: center;
//         padding-top: 5px;
//         cursor: pointer;
//       }
//       .selected {
//         color: #fff;

//         border: 1px solid #000;
//       }
//     }
//   }
//   .main {
//     width: 100%;
//     height: 65vh;
//     // border: 1px solid red;
//     display: flex;
//     justify-content: space-around;
//     .questions {
//       width: 45%;
//       height: 65vh;
//       // border: 1px solid black;
//       overflow: auto;
//       .questions-main {
//         height: auto;
//         width: 100%;
//         padding: 15px;
//         .options {
//           width: 100%;
//           height: auto;
//           // border: 1px solid yellow;
//         }
//       }
//     }
//     .explanations {
//       width: 45%;
//       height: 65vh;
//       // border: 1px solid blue;
//       overflow: auto;
//       padding: 15px;
//       .explanations-main {
//         height: auto;
//         width: 100%;
//         #correct-news {
//           // border: 1px solid red;
//           display: flex;
//           p {
//             margin-left: 10px;
//             color: green;
//             font-weight: 500;
//           }
//           mat-icon {
//             color: green;
//             font-weight: 500;
//           }
//         }
//         #incorrect-news {
//           // border: 1px solid red;
//           display: flex;
//           p {
//             margin-left: 10px;
//             color: red;
//             font-weight: 500;
//           }
//           mat-icon {
//             color: red;
//             font-weight: 500;
//           }
//         }
//         .explanation-paragraph {
//           width: auto;
//           height: auto;
//         }
//         #explanation-panel {
//           margin-top: 20px;
//         }
//       }
//     }
//     .flag {
//       width: 10%;
//       height: auto;
//       // border: 1px solid purple;
//       .content {
//         width: auto;
//         height: auto;
//         // border: 1px solid red;
//       }
//     }
//   }
//   @media (max-width: 767px) {
//     .main {
//       flex-direction: column !important;
//       .questions {
//         width: 100% !important;
//       }
//       .explanations {
//         width: 100% !important;
//         margin-top: 20px !important;
//       }
//       .flag {
//         width: auto !important;
//         margin-top: 20px !important;
//         .content {
//           display: flex;
//           justify-content: space-around;
//         }
//       }
//     }
//   }
//   .bottom-controls {
//     width: 100%;
//     height: 12vh;
//     // border: 1px solid pink;
//     .bottom-main {
//       width: 100%;
//       height: 12vh;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 10px;
//       button {
//         color: #000;
//         background-color: var(--qgen-logo-yellow);
//       }
//     }
//   }
//   // @media (max-width: 767px){
//   //   .bottom-controls{
//   //     .bottom-main{
//   //       flex-direction: column !important;
//   //       justify-content: center !important;
//   //     }
//   //   }
//   // }
// }
.questions-container {
  width: auto;
  height: auto;
  // border: 1px solid red;
  padding: 30px;
  overflow: auto;
  .heading {
    width: 100%;
    height: auto;
    // border: 1px solid blue;
    .icons {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: right;
      mat-icon {
        font-size: 28px;
      }
    }
    .title {
      width: 100%;
      height: auto;
      // border: 1px solid yellow;
      text-align: center;
    }
  }
  .main {
    width: 100%;
    height: auto;
    // border: 1px solid red;
    .controls {
      width: 100%;
      height: auto;
      // border: 1px solid yellow;
      display: flex;
      .button {
        width: auto;
        height: auto;
        // border: 1px solid pink;
        p {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #000;
          background-color: var(--qgen-logo-yellow);
          margin-left: 10px;
          text-align: center;
          padding-top: 5px;
          cursor: pointer;
        }
        .selected {
          color: #fff;
          border: 1px solid orange;
        }
        .wrong-answer{
          background-color: red;
          color: #fff;
        }
        .bg-red {
          background-color: red;
        }

        .bg-green {
          background-color: green;
        }

        .bg-yellow {
          background-color: yellow;
        }
      }
    }
    .questions {
      width: 100%;
      height: auto;
      // border: 1px solid green;
      .questions-title {
        width: 100%;
        // border: 1px solid skyblue;
        height: auto;
        p {
          font-weight: 500;
        }
        span {
          width: 10%;
          height: auto;
          float: right;
          // border: 1px solid rosybrown;
          font-weight: bold;
          mat-icon {
            width: auto;
            height: auto;
            font-size: 24px;
            color: orange;
          }
          p {
            font-weight: bold;
          }
        }
      }
      .options {
        width: 100%;
        // border: 1px solid darkblue;
        height: auto;
        .selectedOptions {
          font-weight: bold;
        }
        span {
          // border: 1px solid purple;
          margin-top: 20px;
        }
        #wrong {
          color: red;
        }
        #correct {
          color: green;
        }
      }


      .button-controls {
        width: 100%;
        height: autp;
        // border: 1px solid yellow;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        button {
          color: #000;
          background-color: var(--qgen-logo-yellow);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .questions-container {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    padding: 10px !important;
    .heading {
      height: auto !important;
      .icons {
        justify-content: right;
        mat-icon {
          font-size: 20px;
        }
      }

      .title {
        font-size: 11px;
      }
    }

    .main {
      .controls {
        .button {
          margin-bottom: 10px;
        }
      }

      .questions {
        .questions-title {
          font-size: 12px;
          height: 20vh;
          overflow: auto;
          span {
            font-size: 10px;
            p{
              visibility: hidden;
            }
          }
        }

        .options {
          font-size: 14px;
          height: 20vh;
          overflow: auto;
          margin-top: 15px;
        }
        .correct-expansion{
          margin-top: 20px;
        }

        // .button-controls {
        //   flex-direction: column;
        // }
      }
    }
  }
}
