@import "bootstrap/scss/bootstrap";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./assets/scss/_font.scss";
@import "./assets/scss/colors";
@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: "montserret", sans-serif;
}
