<!-- form -->
<div class="form_crud">
  <mat-icon class="close_btn" mat-icon-button (click)="onNoClick()"
    >close</mat-icon
  >
  <div class="form_wrap">
    <div class="form_heading" *ngIf="data === null">Add Topic</div>
    <div class="form_heading" *ngIf="data !== null">Edit Topic</div>

    <form #exampleForm="ngForm" [formGroup]="myForm">
      <div class="form-group custom_group">
        <input
          class="form-control"
          placeholder="Topic"
          formControlName="topic"
          name="topic"
          [(ngModel)]="topic.topic"
          autocomplete="off"
        />
        <mat-error class="error">
          <!-- <control-messages [control]="myForm.controls.topic"></control-messages> -->
        </mat-error>
      </div>

      <div class="form_btns">
        <button
          mat-raised-button
          color="primary"
          style="float: right"
          [disabled]="!exampleForm.valid || !saveButton"
          (click)="saveCoreBoxMaster()"
        >
          {{ topic && topic._id ? "Update" : "Save" }}
        </button>
        <!-- <button
        mat-raised-button
        color="warn"
        style="float: right"
        (click)="onNoClick()"
      >
        cancel
      </button> -->
      </div>
    </form>
  </div>
</div>
