<div class="editor_container">
  <p>
    <strong style="color: var(--qgen-red)">Editor</strong> allows you to review
    and tweak the questions to your specific needs.
  </p>
  <div class="editor_question_wrap" *ngIf="reqId !== undefined">
    <!-- Question Optons section -->
    <div class="question_info mb-3">
      <div class="question_inputs">
        <div>
          <strong>Input: </strong>hyperkalemia, depolarization, cell membrane
        </div>
        <div><strong>Question count: </strong>{{ questLength }}</div>
      </div>
      <div class="question_actions">
        <button class="btn" (click)="saveChange()">Save Changes</button>
      </div>
    </div>
    <!-- Question Optons section -->

    <!-- Question Links section -->
    <div class="question_links mb-4">
      <button
        *ngFor="let question of questions; let i = index"
        (click)="getQuestion(question._id, i)"
      >
        {{ i + 1 }}
      </button>
    </div>
    <!-- Question Links section -->

    <!-- Questions section -->
    <app-question
      *ngIf="tempQuestion"
      [tempQuestion]="tempQuestion"
      [events]="eventsSubject.asObservable()"
    ></app-question>
  </div>
</div>
