.editor_container {
  font-weight: 500;
  font-size: 16px;
  padding: 1.5rem;
  .editor_question_wrap {
    /* Question Optons section */
    .question_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // .question_inputs {
      // }
      .question_actions {
        button {
          font-weight: bold;
          border-radius: 16px;
          border: 1px solid #000;
        }
      }
    }
    /* Question Optons section */

    /* Question Links section */
    .question_links {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      button {
        background-color: var(--qgen-logo-yellow);
        &.edited-button {
          background-color: green !important;
          color: #fff !important;
        }
        &.reviewed-button {
          background-color: lime;
          color: #000;
        }
        border-radius: 50%;
        border: none;
        font-weight: 600;
        font-size: 14px;
        width: 30px;
        height: 30px;
      }
    }
    /* Question Links section */

    /* Questions section*/
    .question-container {
      display: flex;
      .question-no {
        padding: 0 10px 10px 10px;
        width: fit-content;
        font-weight: 600;
      }
      .question-content {
        width: max-content;
        .question-q {
          margin-bottom: 10px;
        }
        .edit-mode {
          margin-bottom: 10px;
          background-color: #fff;
          border-radius: 10px;
          padding: 8px;
          border: 1px solid #000;
        }

        ol.options {
          width: fit-content;
          counter-reset: my-counter;
          list-style: none;
          padding: 6px;
          li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 30px;
            padding-right: 10px;
            display: inline-block;
            &::before {
              content: counter(my-counter, upper-alpha) ".";
              counter-increment: my-counter;
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .correct-option {
            width: fit-content;
            border: 2px solid var(--qgen-green);
          }
          #check-answer {
            color: green;
            font-weight: bolder;
            font-size: 22px;
            margin-left: 5px;
          }
        }
        .explanation {
        }
      }
      .question-action {
        width: fit-content;
        padding-left: 10px;
        mat-icon {
          font-size: 36px;
          width: 36px;
          height: 36px;
          cursor: pointer;
        }
        .delete-option {
          position: relative;
          .why-delete {
            position: absolute;
            top: 0;
            right: 50px;
            background-color: #fff;
            border-radius: 20px;
            min-width: 320px;
            padding: 4px;
            border: 2px solid #0e0d0d;
            font-size: 14px;
            .why-q {
              background-color: #e2e8f0;
              text-align: center;
              font-weight: bold;
              padding: 6px;
              border-radius: 20px;
            }
            .reason {
              padding: 10px;
              font-weight: 700;
              cursor: pointer;
              border-radius: 16px;
              &:hover {
                background-color: #f2f2f2;
              }
            }
          }
        }
      }
    }

    /* Questions section*/
  }
}
@media (max-width: 576px) {
  .editor_container {
    padding: 10px;
  }
}
